/* Estilos del nav */
.containerInS {
    max-width: 100vw;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
}
.navbarInS {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #1d2b3D;
    padding-block: 10px;
    justify-content: center;
}
.navbarInS a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.logoInS {
    position: relative;
    height: 100px;
    width: 100px;
}
/* Estilos del form */
.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 2rem;
    color: #1d2b3D;
    margin-bottom: 1.2rem;
}
form input {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button {
    font-size: 1rem;
    margin: 1.8rem 0;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #1d2b3D;
}
button:hover,
button:active {
    background: #fea836;
    letter-spacing: 1px;
}
input:focus{
    border: 1px solid rgb(192, 192, 192);
}
.recover {
    text-align: right;
    font-size: 0.7rem;
    margin: 0.3rem 1.4rem 0 0;
}
.recover a {
    text-decoration: none;
    color: #fea836 ;
}
.member{
    font-size: 0.9rem;
    margin-bottom: 1.8rem;
}
.member a{
    color: #fea836;
    text-decoration: none;
}